<h1 class="headers">All Topics</h1>

<div class="jumbotron">
  <div class="row">
    <% if @topics.empty? %>
      <div class="blank-box">
        <div class="row"></div>
          <p> No topics yet! </p>
      </div>
      <% end %>
      <div class="col-md-8">
          <% @topics.each do |topic| %>
              <div class="media">
                  <div class="media-body">
                      <h4 class="media-heading">
                          <%= link_to topic.name, topic %>
                      </h4>
                      <small>
                          <%= topic.description %>
                      </small>
                  </div>
              </div>
          <% end %>
      </div>
      <% if user_is_authorized_for_topics? %>
          <div class="col-md-4">
              <p>Can't find what you're looking for?</p>
              <p><%= link_to "New Topic", new_topic_path, class: 'btn btn-success btn-xs' %></p>
          </div>
      <% end %>
  </div>
</div>
