<h1 class="headers">Edit Post</h1>

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <p>Make changes to your post</p>
      </div>
      <div class="col-md-8">
        <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
      </div>
    </div>
  </div>
</div>
