
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'normalize';

body {
    background-color: #F0F8FF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ted-jumbotron {
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eeeeee;
}

.recents {
  padding-left: 20%;
  float: left;
}

.navbar.navbar-default {
    background-color: #eeeeee;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float:left;
  font-size: 1.1em;
  margin-top: 2rem;
  a {
    margin: 0 1rem;
  }
}

.right {
  float: right;
  font-size: 1.1em;
  margin-right: 2rem;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.title {
  text-align: center;
}

.home-tron {
  padding-top: 2rem;
  div {
    padding-top: 2rem;
  }
  .topics {
    padding-left: 10%;
  }
}

.ted-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.headers {
  text-align: center;
}

.ted-col {
  vertical-align: center;
  text-align: center;
  padding-top: 4rem;
  i {
    font-size: 10rem;
  }
}

.ted-link {
  padding: 15px 15px;
}

.sponsored-posts {
  margin-top: 10rem;
}

.post {
  padding: 2rem;
}

.post-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 4rem;
}

.votes-div {
  margin-top: 2.5rem;
}

.social-btn {
  color: #00aced;
  height: 20px;
  padding: 5 5 5 5;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.vote-arrows {
   width: 40px;
   text-align: center;
 }

 .gravatar {
   margin-bottom: 5px;
   margin-top: 5px;
 }

 .remember-checkbox {
   margin-left: 10px;
 }
