.ted-jumbotron {
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eeeeee;
}

.navbar-default {
    background-color: #eeeeee;
}

.title {
  text-align: center;
}

.home-tron {
  padding-top: 2rem;
  div {
    padding-top: 2rem;
  }
}

.ted-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.headers {
  text-align: center;
}

.ted-col {
  vertical-align: center;
  text-align: center;
  padding-top: 4rem;
}

.ted-link {
  padding: 15px 15px;
}

.sponsored-posts {
  margin-top: 10rem;
}

.post {
  padding: 2rem;
}
