@import "font-awesome";

a:link{
  text-decoration: none!important;
}

header {
	background: #F0F8FF;
	width: 100%;
	height: 76px;
	top: 0;
	left: 0;
	z-index: 100;
  margin-bottom: 3rem;
}

nav {
	float: right;
	padding: 20px;
}

#menu-icon {
	display: none;
  font-size: 2rem;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	float: left;
	padding: 10px
}

.current {
	color: #2262AD;
}

/*MEDIA QUERY for header and nav */
@media only screen and (max-width : 640px) {
	header {
		position: absolute;
	}

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
    opacity: .95;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}

  .headers {
    padding-top: 5rem;
  }

  .media-info {
    padding-top: 6rem;
  }
}

// ------------

.user-links {
  float: left;
  padding-top: 1rem;
}

.nav-items {
  list-style: none;
  li {
  	display: inline-block;
    float: right;
    padding: 10px;
  }
}

.ted-body {
    background-color: #F0F8FF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ted-jumbotron {
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 3rem;
    color: inherit;
    background-color: #eeeeee;
    align-items: center;
    justify-content: center;
}

.navbar.navbar-default {
    background-color: #eeeeee;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.alert {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float:left;
  font-size: 1.1em;
  margin-top: 2rem;
  a {
    margin: 0 1rem;
  }
}

.right {
  float: right;
  font-size: 1.1em;
  margin-right: 2rem;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.title {
  text-align: center;
}

.home-tron-logout {
  padding-top: 2rem;
  div {
    padding-top: 2rem;
  }
}

.home-tron-login {
  display: flex;
  padding-top: 2rem;
  div {
    padding-top: 2rem;
    flex: 1;
  }
}

@media(max-width:767px){
  .home-tron-login {
    flex-direction: column;
  }
}

.ted-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.log-links {
  padding-top: 2rem;
}

.headers {
  text-align: center;
}

.ted-col {
  vertical-align: center;
  text-align: center;
  padding-top: 4rem;
  i {
    font-size: 10rem;
  }
}

.ted-link {
  padding: 15px 15px;
}

.sponsored-posts {
  margin-top: 10rem;
}

.post {
  padding: 2rem;
}

.post-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.votes-div {
  margin-top: 2.5rem;
}

.social-btn {
  color: #00aced;
  height: 20px;
  padding: 5 5 5 5;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.vote-arrows {
   width: 40px;
   text-align: center;
 }

 .gravatar {
   margin-bottom: 5px;
   margin-top: 5px;
   border-radius: 5px;
 }

 .remember-checkbox {
   margin-left: 10px;
 }

 .form {
   text-align: center;
   input[type="text"], input[type="email"], input[type="password"]{
    width: 50%;
    max-width: 50%;
    height: 3em;
    border: 2px solid #E9E9E9;
    padding: 1em;
    margin: .5em 0 2em 0;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    height: 30rem;
    border: 2px solid #E9E9E9;
    padding: 1em;
    margin: .5em 0 2em 0;
  }
}

.form-header {
  margin-top: 5rem;
}

.app-container, .top-pad {
  padding-top: 2rem;
}

footer {
  margin-top: 2rem;
  font-size: 0.69rem;
  margin-top: 10rem;
  padding: 2.5em 5%;
  display: block;
  text-align: center;
  p {
    font-size: 1.5rem;
  }
}
