.ted-jumbotron {
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eeeeee;
}

.navbar.navbar-default {
    background-color: #eeeeee;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float:left;
  font-size: 1.1em;
  margin-top: 2rem;
  a {
    margin: 0 1rem;
  }
}

.right {
  float: right;
  font-size: 1.1em;
  margin-right: 2rem;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.title {
  text-align: center;
}

.home-tron {
  padding-top: 2rem;
  div {
    padding-top: 2rem;
  }
}

.ted-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.headers {
  text-align: center;
}

.ted-col {
  vertical-align: center;
  text-align: center;
  padding-top: 4rem;
}

.ted-link {
  padding: 15px 15px;
}

.sponsored-posts {
  margin-top: 10rem;
}

.post {
  padding: 2rem;
}

.post-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 4rem;
}

.votes-div {
  margin-top: 2.5rem;
}
